@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nova+Square&display=swap');

/* ! -------------------------------------------
    * Body
 ! ------------------------------------------- */

body {
  background-image: url('assets/background.svg');
  height: 100vh;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body > * {
  /* Disable user selections */
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

@media only screen and (min-width: 1300px) {
  body {
    background-size: cover;
  }
}

@media only screen and (min-height: 1024px) {
  body {
    background-size: auto;
  }
}

/* ! -------------------------------------------
    * Color variables for toggling light/dark mode
 ! ------------------------------------------- */
:root {
  --appBgColor: #fff;
  --appTxtColor: #fff;
  --toastBgColor: #333;
  --toastTxtColor: #fff;

  --accentColor: #4f79dc;

  --displayBgColor: #ececec;
  --displayTxtColor: #707070;

  --topRowBgColor: #d2d2d2;
  --numKeyTxtColor: #707070;
  --oprKeyBgColor: #b9d6e3;
}

[data-mode='dark'] {
  --appBgColor: #1d1d1d;
  --appTxtColor: #fff;
  --toastBgColor: #fff;
  --toastTxtColor: #333;

  --accentColor: #0048f2;

  --displayBgColor: #222;
  --displayTxtColor: #707070;

  --topRowBgColor: #313131;
  --numKeyTxtColor: #707070;
  --oprKeyBgColor: #4f79dc;
}

#favico {
  stroke: blue;
  fill: blue;
}

#light-mode > .sun {
  fill: #f78503;
  stroke: none;
}

#light-mode > .moon {
  fill: #ececec;
  stroke: none;
}

.toggleDarkMode {
  display: none;
}
/* ! -------------------------------------------
    * Calculator Frame
 ! ------------------------------------------- */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 340px;
}

#calc-frame {
  width: 100%;
  /* height: 630px; */
  background: var(--appBgColor) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 14px var(--appBgColor);
  border-radius: 4px;
}

/* ! -------------------------------------------
    * Calculator Header
 ! ------------------------------------------- */

#calc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 344px; */
  height: 50px;
  background: var(--appBgColor) 0% 0% no-repeat padding-box;

  box-sizing: border-box;
  padding: 0px 24px;
}

#app-name-box {
  /* width: 105px; */

  height: 28px;
  padding: 0 20px;
  background: var(--accentColor) 0% 0% no-repeat padding-box;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#app-name {
  height: 1 rem;
  text-align: left;
  font: normal normal normal 16px/19px 'Nova Square';
  letter-spacing: 0px;
  color: var(--appTxtColor);
}

/* ! -------------------------------------------
    * Calculator Display
 ! ------------------------------------------- */
#calc-display {
  height: 150px;
  background: var(--displayBgColor) 0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;
}

.displayLines {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;

  padding: 24px;
  box-sizing: border-box;
}

.dispLarge {
  height: 72px;
  text-align: left;
  font: normal normal normal 48px/72px Lato;
  letter-spacing: 0px;
  color: var(--displayTxtColor);
}

.dispSmall {
  height: 29px;
  text-align: left;
  font: normal normal normal 24px/32px Lato;
  letter-spacing: 0px;
  color: var(--displayTxtColor);

  padding-bottom: 12px;
}

/* ! -------------------------------------------
    * Pop up Toast/Snackbar Message box
 ! ------------------------------------------- */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px;
  background-color: var(--toastBgColor);
  color: var(--toastTxtColor);
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: -50px;
  }
  to {
    bottom: 30px;
  }
}

@keyframes fadein {
  from {
    bottom: -50px;
  }
  to {
    bottom: 30px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
  }
  to {
    bottom: -50px;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
  }
  to {
    bottom: -50px;
  }
}

/* ! -------------------------------------------
    * Calculator Keys/Buttons - All keys
 ! ------------------------------------------- */
.btn {
  border-radius: 50%;

  display: inline-block;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  text-decoration: none;

  background-color: var(--appBgColor);
  border-color: var(--displayBgColor);
}

.btn-dark > span {
  width: 20px;
  height: 41px;
  text-align: left;
  font: normal normal normal 34px/41px Lato;
  letter-spacing: 0px;
  color: var(--numKeyTxtColor);
}

.btn-light > span {
  height: 34px;
  text-align: left;
  font: normal normal normal 28px/34px Lato;
  letter-spacing: 0px;
  color: var(--appTxtColor);
}

/* ! -------------------------------------------
    * Calculator Keys/Buttons - Top row only
 ! ------------------------------------------- */

.btn-top-row {
  width: 64px;
  height: 64px;
  background: var(--topRowBgColor) 0% 0% no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-top-row > span {
  text-align: left;
  font: normal normal normal 30px/36px Lato;
  letter-spacing: 0px;
  color: var(--appTxtColor);

  line-height: 2rem;
}

/* ! -------------------------------------------
    * Calculator Keys/Buttons - Operators and Numbers
 ! ------------------------------------------- */
.btn-opr {
  width: 64px;
  height: 64px;
  background: var(--oprKeyBgColor) 0% 0% no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-opr > span {
  width: 23px;
  height: 48px;
  text-align: left;
  font: normal normal normal 40px/48px Lato;
  letter-spacing: 0px;
  color: var(--appTxtColor);

  padding-right: 2px;
}

.btn-num {
  width: 64px;
  height: 64px;
  background: var(--appBgColor) 0% 0% no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-num > span {
  width: 20px;
  height: 41px;
  text-align: center;
  font: normal normal normal 34px/41px Lato;
  letter-spacing: 0px;
  color: var(--numKeyTxtColor);
}

/* ! -------------------------------------------
    * Calculator Keys/Buttons - Special keys
 ! ------------------------------------------- */
#btn-result {
  width: 64px;
  height: 64px;
  background: var(--accentColor) 0% 0% no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-result > span {
  padding: 1px 2px 0 0;
}

#btn-decimal {
  padding-bottom: 20px;
}

.Capa_1 {
  /* SVG Icons */
  fill: var(--appTxtColor);
  width: 25px;
  height: 25px;
}

/* ! -------------------------------------------
    * Calculator Keys/Buttons - Layout (except top row)
 ! ------------------------------------------- */

#key-grid {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.num-keys {
  grid-column: 1/4;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 10px;
}

.opr-keys {
  grid-column: 4/5;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
